python-dotenv~=1.0.1
pyyaml~=6.0.2
langchain_community~=0.3.3
neo4j~=5.25.0
streamlit
sentence-transformers
langchain_huggingface
langchain_groq
langchain~=0.3.4
requests~=2.32.3
pydantic~=2.9.2
langchain-community~=0.3.3
referencing~=0.35.1
pygments~=2.18.0
pip~=23.3
attrs~=24.2.0
distro~=1.9.0
wheel~=0.41.2
protobuf~=5.28.3
pillow~=10.4.0
filelock~=3.16.1
setuptools~=70.0.0
click~=8.1.7
packaging~=24.1